.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top:1.5rem;
    font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.freecodecamp-logo{
    height:5rem;
}

.contenedor-principal{
    height:55rem;
    min-width:60rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}